#plans {
    padding: 80px 0;
  }
  .plans_title {
    margin-bottom: 60px;
  }
  .plans_title h3 {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .plans_title > p {
    color: var(--color-text);
    max-width: 555px;
    margin: 0 auto;
    line-height: 30px;
  }
  .item_plan {
    border: 2px solid #dddddd;
    border-radius: 10px;
    text-align: center;
    padding: 80px 0 50px 0;
    width: 330px;
    height: 600px;
    /* margin: 0 auto; */
  }
  .item_plan:hover {
    border: 2px solid #f53838;
  }
  .item_plan h4 {
    margin-bottom: 30px;
    font-size: 18px;
  }
  .img_plan {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .item_plan ul {
    /* margin-bottom: 90px; */
    padding: 0;
  }
  .item_plan ul li p {
    font-size: 14px;
    line-height: 30px;
  }
  .item_plan ul li i {
    margin-right: 26px;
    color: #2fab73;
  }
  .plan_img {
    text-align: center;
    display: block;
  }
  .price {
    height:auto;
  }
  .price >p {
    display: block;
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 30px;
  }
  .price >p >span {
    font-weight: normal;
    color: #0B132A;
    font-weight: 500;
  }
  .price a {
    padding: 13px 63px;
    border: 2px solid #f53838;
    border-radius: 50px;
    color: #f53838;
    transition: all 0.3s ease-in;
    box-shadow: 0px 10px 30px #fff;
  }
  .price a:hover {
    background-color: #f53838;
    color: #fff;
    box-shadow: 0px 10px 30px rgba(245, 56, 56, 0.35);
  }
  /* ======================responsive======================== */
  /* // Extra small devices (portrait phones, less than 576px) */
  @media (max-width: 1199.98px) {
    .item_plan {
      height: 690px;
    }
    .item_plan ul li i {
      margin-right: 10px;
    }
  }
 
 /* // Extra large devices (large desktops) */